{% extends 'base.html' %}

{% block content %}

<p>
    <h3>Send Message To Friend</h3>
</p>

<form action="{% url 'learningforms:send_message' %}" method="post" novalidate class="uniForm">
    {# {{ form.as_p }} #}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    {% csrf_token %}
    <p><input type="submit" value="Send Message" class='btn btn-dark'></p>
</form>

{% endblock %}


{% comment ' ' %}


    {% extends 'base.html' %}
    {% load crispy_forms_tags %}

    {% block content %}

    <p>
        <h3>Send Message To Friend</h3>
    </p>

    <form action="{% url 'learningforms:send_message' %}" method="post" novalidate class="uniForm">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Send Message" class='btn btn-dark'></p>
    </form>


    {% endblock %}

{% endcomment %}
